html {
  width: 100%;
  overflow: hidden;
}
body {
  font-family: "NanumSquare";
  /*background-image: url("background.png");*/
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #f5f5f5;
  overflow: hidden;
}
.bar {
  color: #203864;
  display: inline-block;
  padding: 3%;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-bottom: 10px;
  overflow: hidden;
}

.bar:hover {
  color: #94b0e4;
}

#mainbar {
  position: absolute;
  left: 70%;
  width: 40%;
  top: 10px;
  overflow: hidden;
}
#logo {
  width: 100px;
  height: 80px;
  margin-top: 12px;
}
#letterbox {
  float: left;
  margin: 10%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 650px;
}
#intro {
  position: absolute;
  float: left;
  margin-top: 23%;
  left: 77%;
}
article {
  vertical-align: middle;
}
#name {
  font-size: 58px;
  color: #203864;
  width: 200px;
}

#detail {
  font-size: 20px;
  color: #203864;
  width: 500px;
  margin-top: 4px;
  right: 0px;
  margin-right: 90px;
  position: absolute;
}

#write {
  background-color: #203864;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: fixed;
  bottom: 5%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
}

#write:hover {
  width: 160px;
}
.write span {
  position: absolute;
  bottom: 28px;
  left: 54px;
  display: block;
  color: white;
  z-index: 100;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0.15s;
}

a {
  text-decoration: none;
}

.write:hover span {
  position: absolute;
  bottom: 28px;
  left: 54px;
  display: block;
  color: white;
  z-index: 100;
  opacity: 1;
}

#letter {
  width: 45%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  z-index: 1;
}

nav {
  background-size: 100% 100px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  overflow: hidden;
  line-height: 100px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
}

.header.roll {
  height: 85px;
  line-height: 85px;
  background: rgba(242, 109, 125, 0.65);
}

.header .navi {
  width: 1200px;
  margin: 0 auto;
  margin-left: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header.roll .navi {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header h1 {
  float: left;
}
.navi ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.ex {
  width: 220px;
  padding: 20px;
  margin: 20px;
  margin-top: 440px;
  background-color: #e2edff;
  outline-style: solid;
  outline-width: 0.5px;
  border-radius: 20px;
  outline-color: rgba(218, 227, 243, 0);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  text-align: justify;
  vertical-align: middle;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: 7px;
  }
  10% {
    margin-top: 3px;
  }
  15% {
    margin-top: 7px;
  }
  20% {
    margin-top: 3px;
  }
  25% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

img {
  image-rendering: auto;
}

#logotitle {
  position: relative;
}
#title {
  color: #27457b;
  position: absolute;
  top: 30px;
  left: 100px;
}
#main_container {
  display: flex;
  flex-direction: column;
  margin-top: 116px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#sub_container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#menu {
  width: 14%;
  padding: 0px 0px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border-right: solid 3px #f5f5f5;*/
  background-color: #f5f5f5;
  margin-left: 60px;
}
#information {
  width: 100%;
  min-width: 700px;
  height: 90%;
  padding: 20px 20px;
  padding-top: 2px;
  display: flex;
}

#form_r {
  margin-bottom: 6px;
}
.form_row {
  display: flex;
  gap: 12px;
  align-items: center;
}

#recommend {
  border-top: solid 3px #f5f5f5;
  width: 100%;
  height: 97%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-top: 40px;
  overflow: hidden;
}
.b {
  font-size: 20px;
}
#t1,
#t2 {
  margin-left: 24px;
}
.b1 {
  margin-top: 12px;
  margin-left: 36px;
}
#menu_content {
  width: 100%;
  margin-top: 7px;
  padding: 0px 0px;
  height: 66%;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.m {
  padding: 10px 0px;
  width: 100%;
  border-top: solid 0.1px #e2e2e2;
  text-align: left;
  font-size: 15px;
  text-indent: 8px;
  cursor: pointer;
}
.m:hover {
  background-color: #d5e5ff;
}
.infoclass_wrapper {
  height: 100%;
}
#info_content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  min-height: 80%;
  height: 100%;
  width: 100%;
  min-width: 00px;
  /*border: solid 0.1px#e2e2e2;*/
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: white;
  margin-right: 50px;
  padding-left: 50px;
  overflow: hidden;
}

.c {
  padding-top: 14px;
  padding-left: 32px;
}
#reco_content1 {
  margin-top: 5px;
  height: 66%;
  width: 95%;
  /*border: solid 0.1px white;*/
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#reco_content2 {
  margin-top: 2px;
  height: 72%;
  width: 94%;
  border: solid 0.1px white; /*#e2e2e2;*/
  border-radius: 16px;
  background-color: #f5f5f5;
}
.reco_c {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#reco_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
#form1 {
  display: flex;
  /*justify-content: space-evenly;*/
  align-content: center;
  flex-wrap: wrap;
  height: fit-content;
  width: 80%;
  gap: 4px;
}

#submit_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 20%;
}

#form2 {
  padding: 20px;
}
.f1 {
  margin-right: 10px;
}
.f2 {
  margin-right: 10px;
}
#sub_sub_container {
  display: flex;
}
#info_container {
  background-color: #f5f5f5;
  padding: 20px 40px;
  height: 18%;
  padding-top: 30px;
}

#submit {
  background-color: #27457b /*#94b0e4*/;
  color: white;
  border: none;
  width: 80%;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  margin-right: 10%;
  cursor: pointer;
}

#help {
  background-color: #768fb8 /*#94b0e4*/;
  color: white;
  border: none;
  width: 80%;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  margin-right: 10%;
  cursor: pointer;
}

input,
select {
  border-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
  border-radius: 2px;
  text-align: center;
}

#set_point1 {
  background-color: white;
  color: white;
  display: none;
  position: absolute;
  width: 30%;
  height: 40%;
  top: 38%;
  left: 38%;
  margin: -50px 0 0 -50px;
  flex-direction: column;
  border-radius: 8px;
  align-content: center;
  z-index: 13;
  box-shadow: 2px 2px 50px black;
}

#set_point2 {
  background-color: white;
  color: white;
  display: none;
  position: absolute;
  width: 30%;
  height: 60%;
  top: 30%;
  left: 38%;
  margin: -50px 0 0 -50px;
  flex-direction: column;
  border-radius: 8px;
  align-content: center;
  z-index: 13;
  box-shadow: 2px 2px 50px black;
  font-family: "SCDream2";
  overflow-y: auto;
}
#set_point2::-webkit-scrollbar {
  width: 13px;
}
#set_point2::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
#set_point2::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: inset 0px 0px 5px white;
}

.shadow {
  background-color: black;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: 10;
}

#x1,
#x2 {
  color: black;
  opacity: 0.5;
  margin-left: 96%;
  margin-top: 5px;
  cursor: pointer;
  z-index: 11;
}

.help_title {
  text-align: center;
  padding: 5px;
  font-size: 24px;
  font-weight: 800;
  color: black;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.help_write {
  text-align: left;
  line-height: 170%;
  padding: 5px;
  color: black;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.detail_title {
  color: rgb(82, 114, 173);
  font-weight: bolder;
  font-family: "SCDream4";
}
.detail_info {
  margin-left: 16px;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 600;
}

@font-face {
  font-family: "SCDream4";
  src: url("../public/S-Core_Dream_OTF/SCDream4.otf");
}

@font-face {
  font-family: "SCDream2";
  src: url("../public/S-Core_Dream_OTF/SCDream2.otf");
}

.scholarship {
  background-color: #f5f5f5;
  padding: 16px;
  margin: 12px;
  width: 191px;
  height: 200px;
  color: #27457b;
  border-bottom: solid 6px #27457b;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}
@font-face {
  font-family: "SCDream5";
  src: url("../public/S-Core_Dream_OTF/SCDream5.otf");
}
.s_name {
  font-family: "SCDream5";
  font-size: 20px;
}

.s_period,
.s_money {
  font-family: "SCDream4";
  margin-top: 24px;
  font-size: 13px;
}

.s_period_info,
.s_money_info {
  font-family: "SCDream2";
  font-size: 13px;
  margin-top: 4px;
}

.r_c {
  margin-left: 5%;
  margin-bottom: 0px;
  font-weight: 600;
  margin-top: 12px;
  font-size: 18px;
}

.left {
  top: 50%;
  width: 2%;
  height: 20%;
  cursor: pointer;
}

.right {
  top: 50%;
  width: 2%;
  height: 20%;
  cursor: pointer;
}

.post-wrapper {
  width: 94%;
  overflow: hidden;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reco_text {
  text-align: center;
  font-size: 18px;
  color: rgb(82, 114, 173);
  font-weight: 800;
}

.post-wrapper {
  border-color: rgba(0, 0, 0, 0);
  width: 92%;
  height: 100%;
  padding: 0px;
}

.w-u {
  font-size: 16px;
  margin-left: 16px;
  margin-top: 8px;
}

#w11,
#w12,
#w21,
#w22,
#w31,
#w33 {
  font-weight: 800;
}

#pw {
  border-color: rgba(0, 0, 0, 0);
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

#before_search {
  position: absolute;
  text-align: center;
  line-height: 330px;
  font-size: 24px;
  color: rgb(82, 114, 173);
  font-weight: 600;
  top: 40%;
  z-index: 1000;
  width: 100%;
  height: 86%;
  background-color: #f5f5f5;
  border-radius: 8px;
}
